* {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #d66839;
  background-color: #fff0a5;
}

.col-12 {
  /* border: solid blue; */
}

.row {
  max-height: 100vh;
}

.header {
  font-size: 4.5vw;
}

.location {
  font-size: 6vw;
  text-transform: uppercase;
}

.icon {
  font-size: 25vh;
}

.weather {
  font-size: 4.5vw;
}

.temperature {
  font-size: 6vw;
}

@media only screen and (max-width: 767px) {
  .container-fluid {
    margin-top: 10vh;
  }
  .header, .weather {
    font-size: 8vw;
  }
  .location, .temperature {
    font-size: 12vw;
  }
  .icon {
    font-size: 25vh;
  }
}
